[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pymongo = "==3.9.0"
Flask = "==1.0.2"
Flask-Cors = "==3.0.9"
requests = "*"
dnspython = "*"

[requires]
python_version = "3.6"
